{% extends "base.html" %}

{% block title %}| Training Result{% endblock %}

{% block content %}

<div class="p-5 text-white text-center">        
</div>
<div class="p-5 text-white text-center">        
</div>
<div class="p-5 text-white text-center">        
</div>


<div class="container text-center">
    <div class="intro">
        <div class="alert alert-success" role="alert">
            <h1> Hoàn thành !!</h1>
        </div>
   
        <div class="card-body">
            <p class="card-title"> Kết quả sau khi dự đoán </p>
        </div>
        <p class="card-text"><h1>{{values}}</h1></p>
    </div>
</div>





{% endblock %}