{% extends "base.html" %}

{% block title %}| Training Result{% endblock %}

{% block content %}

<div class="p-5 text-white text-center">        
</div>
<div class="p-5 text-white text-center">        
</div>
<div class="p-5 text-white text-center">        
</div>


<div class="container text-center">
    <div class="card text-center">
        <div class="alert alert-success" role="alert">
            Success 🏆
        </div>
   
        <div class="card-body">
        <h5 class="card-title"> 🤖 : I think it belongs to 👇 </h5>
        <p class="card-text"><h1 class="display-4">{{values}}</h1></p>
        
        
    </div>
</div>





{% endblock %}